export(apply_matched_region_labels)
export(apply_roi_labels)
export(backmap_sample_scores)
export(build_spatial_neighbors)
export(cluster_histology_superpixels)
export(cluster_diagnostics)
export(cluster_pixels)
export(compare_contamination_methods)
export(compute_morans_i_grid)
export(cross_validate_annotations)
export(run_spatial_metabolomics_pipeline)
export(compute_spatially_variable_metabolites)
export(cross_validate_msi_lcms)
export(detect_ubiquitous_features)
export(detect_metaboanalyst_result)
export(differential_region_analysis)
export(feature_columns)
export(feature_stats)
export(filter_background_cardinal_spatial_kmeans)
export(fit_histology_msi_registration)
export(define_rois)
export(generate_roi_candidates)
export(infer_feature_mapping)
export(import_peakpicked_msi_csv)
export(load_msi_target_features)
export(load_centroided_msi_features)
export(load_peakpicked_msi_series)
export(load_serial_msi_target_features)
export(link_metaboanalyst_pathway_features)
export(make_feature_mapping)
export(make_metaboanalyst_data)
export(make_pipeline_manifest)
export(map_spatial_domain_labels)
export(nearest_intensity_ppm)
export(normalize_metaboanalyst_result)
export(optimize_histology_rois)
export(otsu_threshold)
export(plot_feature_thumbnails)
export(plot_feature_region_boxplot)
export(plot_ion_image)
export(plot_pathway_feature_images)
export(plot_pathway_score_map)
export(plot_metabo_feature_rank)
export(plot_metabo_feature_view)
export(plot_metabo_score_plot)
export(plot_sample_score_map)
export(preprocess_select_features)
export(prepare_lipid_annotation_mapping)
export(preprocess_sections)
export(preprocess_matrix)
export(reduce_pixel_matrix)
export(run_spatial_app)
export(registration_diagnostics)
export(sample_matched_regions)
export(sample_coordinate_rois)
export(sample_subregions)
export(score_roi_indices)
export(spatial_neighbor_diagnostics)
export(select_manual_rois)
export(select_rois)
export(transform_histology_coordinates)
export(validate_msms_fragment_evidence)
export(select_shared_features)
export(select_features)
export(write_pipeline_outputs)
export(write_validation_plots)
importFrom(stats,dist)
importFrom(stats,kmeans)
importFrom(stats,median)
importFrom(stats,quantile)
importFrom(stats,sd)
importFrom(graphics,hist)
importFrom(utils,head)
importFrom(utils,read.csv)
